<html >
	<body  >
		<h3 >Dear Customer,</h3></br>
		<h3 style="color:red;" >your Request No $mailvo.requestNo  is registered and will be attended shortly.</h3>
		
				
		<h5> T&C apply, </br>
		 Team ACT  </br>
		 Helpline 044-42840000
		 </h5>
		
	</body>

</html>