<html >
	<body  >
		<h3 >Hi,</h3></br>
		<h3 style="color:red;" >New Legal Team Request for $mailVO.customerName with MQID $mailVO.mqId and Ticket Number $mailVO.workOrderNumber</h3>
		
			 
	<table style="border: 0px;">
		<tr>
			<td>Customer Name:</td>
			<td>$mailVO.customerName</td>
		</tr>
		<tr>
			<td>Ticket Number:</td>
			<td>$mailVO.workOrderNumber</td>
		</tr>
		<tr>
			<td>MQ Id :</td>
			<td>$mailVO.mqId</td>
		</tr>
		<tr>
			<td>Device Name :</td>
			<td>$mailVO.deviceName</td>
		</tr>
			<tr>
			<td>Flow Type :</td>
			<td>$mailVO.currentFlowName</td>
		</tr>
		<tr>
			<td>Symptom :</td>
			<td>$mailVO.currentSymptomName</td>
		</tr>
			<tr>
			<td>Nature Name :</td>
			<td>$mailVO.natureCode</td>
		</tr>
		<tr>
			<td>Assigned To :</td>
			<td>$mailVO.assignedToDisplayName</td>
		</tr>
		<tr>
			<td>Committed ETR :</td>
			<td>$mailVO.commitedEtr</td>
		</tr>
		<tr>
			<td>Mobile :</td>
			<td>$mailVO.mobileNumber</td>
		</tr>
		<tr>
			<td>Area :</td>
			<td>$mailVO.areaName</td>
		</tr>
		<tr>
			<td>Branch :</td>
			<td>$mailVO.branch</td>
		</tr>
		<tr>
			<td>City :</td>
			<td>$mailVO.city</td>
		</tr>
		<tr>
			<td>Address :</td>
			<td>$mailVO.customerAddress</td>
		</tr>
		
		<tr>
			<td>VOC :</td>
			<td>$mailVO.voc</td>
		</tr>
		
		
	</table>		
		<h5> T&C apply, </br>
		 Team ACT  </br>
		 Helpline 044-42840000
		 </h5>
		
	</body>

</html>