<html >
	<body  >
		<h3 >Hi,</h3></br>
		<h3 style="color:red;" >New Store Team Request for $mailVO.customerName with MQID $mailVO.mqId and Ticket Number $mailVO.workOrderNumber</h3>
		
			 
	<table style="border: 0px;">
		<tr>
			<td>Customer Name:</td>
			<td>$mailVO.customerName</td>
		</tr>
		<tr>
			<td>Ticket Number:</td>
			<td>$mailVO.workOrderNumber</td>
		</tr>
		<tr>
			<td>MQ Id :</td>
			<td>$mailVO.mqId</td>
		</tr>
		<tr>
			<td>Device Name :</td>
			<td>$mailVO.deviceName</td>
		</tr>
			<tr>
			<td>Flow Type :</td>
			<td>$mailVO.currentFlowName</td>
		</tr>
		<tr>
			<td>Symptom :</td>
			<td>$mailVO.currentSymptomName</td>
		</tr>
		
		<tr>
			<td>Assigned To :</td>
			<td>$mailVO.assignedToDisplayName</td>
		</tr>
		<tr>
			<td>Committed ETR :</td>
			<td>$mailVO.commitedEtr</td>
		</tr>
		<tr>
			<td>Mobile :</td>
			<td>$mailVO.mobileNumber</td>
		</tr>
		<tr>
			<td>Area :</td>
			<td>$mailVO.areaName</td>
		</tr>
		<tr>
			<td>Branch :</td>
			<td>$mailVO.branch</td>
		</tr>
		<tr>
			<td>City :</td>
			<td>$mailVO.city</td>
		</tr>
		<tr>
			<td>Address :</td>
			<td>$mailVO.customerAddress</td>
		</tr>
		
		<tr>
			<td>VOC :</td>
			<td>$mailVO.voc</td>
		</tr>
		#foreach ($materialDetails in $mailVO.consuptiomMaterials)
		#if ($materialDetails) 
		#if ($materialDetails.materialName) 
		<tr>
			<td>Material Name  :</td>
			<td>$materialDetails.materialName</td>
		</tr>
#end
#if (	$materialDetails.totalConsumption) 
<tr>
			<td>Total Consumption :</td>
			<td>$materialDetails.totalConsumption</td>
		</tr>
#end
#if ($materialDetails.macid) 
<tr>
			<td>Mac Id :</td>
			<td>$materialDetails.macid</td>
		</tr>
#end
#if ($materialDetails.serialNo) 
<tr>
			<td>Serial No  :</td>
			<td>$materialDetails.serialNo</td>
		</tr>
#end
#if ($materialDetails.startPoint) 
<tr>
			<td>startPoint :</td>
			<td>$materialDetails.startPoint</td>
		</tr>
#end
#if ($materialDetails.endPoint) 
<tr>
			<td>endPoint :</td>
			<td>$materialDetails.endPoint</td>
		</tr>
#end
#if ($materialDetails.uoMid) 
<tr>
			<td>uoMid :</td>
			<td>$materialDetails.uoMid</td>
		</tr>
#end
#if ($materialDetails.drumNo) 
<tr>
			<td>drumNo :</td>
			<td>$materialDetails.drumNo</td>
		</tr>
#end
#if ($materialDetails.fiberType) 
<tr>
			<td>fiberType :</td>
			<td>$materialDetails.fiberType</td>
		</tr>
#end

#end
		
#end
		
	</table>		
		<h5> Thanks<br>
		 Team ACT  <br>
		 </h5>
		
	</body>

</html>