<html >
	<body  >
		<h3 >Dear patron, </h3></br>
		<h3 style="color:red;" > Ticket No. $mailvo.requestNo is closed. Please share your feedback </h3>
		<h5>			
			5-Excellent </br>
			4-V.Good </br>
			3-Good </br>
			2-Fair </br>
			1-Poor </br>
			SN-to REOPEN complaint Reply to 8861202208
		</h5>			
	</body>

</html>